@charset 'UTF-8';
@use "../../inc/" as inc;
/*
c-text
-----------------------------------------------------*/

.c-text {
  &--h1 {
    @include inc.sizingRem(font-size, wide, 40px, sp, 26px);
    @include inc.sizing(line-height, wide, 47px, sp, 29px);
    //line-height: 1;
    font-weight: 500;
    span {
      @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
      @include inc.sizing(margin-top, wide, 16px, spl, 8px);
      display: block;
      line-height: 1;

      font-weight: 400;
    }
    &.news-title {
      @include inc.sizing(padding-top, wide, 32px, spl, 0px);
      @include inc.sizing(
        margin-bottom,
        wide,
        100px,
        spl,
        56px
      ); //2 お知らせ一覧
    }
    & + p {
      padding-left: 6.6%;
      @include inc.mq(min) {
        @include inc.sizing(padding-left, tab, 25px, min, 25px);
      }
      @include inc.mq(tab) {
        @include inc.sizing(padding-left, tabl, 64px, tab, 25px);
      }
      @include inc.mq(tabl) {
        @include inc.sizing(padding-left, wide, 96px, tabl, 64px);
      }
    }
  }
  &--h2 {
    @include inc.sizingRem(font-size, wide, 26px, spl, 18px);
    @include inc.sizing(line-height, wide, 48px, spl, 32px);
    @include inc.sizing(margin-bottom, wide, 24px, spl, 24px);
    font-weight: 500; //Medium
  }
  &--top-h2 {
    @include inc.sizingRem(font-size, wide, 40px, sp, 26px);
    line-height: 62px;
    text-align: center;
    font-weight: 500; //Medium
  }
}

#news .c-text {
  &--h1 {
    @include inc.sizing(
      margin-bottom,
      wide,
      195px,
      spl,
      100px
    ); //2 お知らせ一覧
  }
}
#news.post .c-text {
  &--h1 {
    @include inc.sizing(margin-bottom, wide, 100px, spl, 56px); //2 お知らせ一覧
  }
}
#product .c-text {
  &--h1 {
    @include inc.sizing(
      margin-bottom,
      wide,
      195px,
      spl,
      75px
    ); //4 商品カテゴリ一覧
  }
}
#product.category .c-text {
  &--h1 {
    @include inc.sizing(
      margin-bottom,
      wide,
      56px,
      spl,
      32px
    ); //4 商品カテゴリ一覧
  }
}
#product.post .p-product__post---ph .c-text {
  &--h1 {
    display: block;
    margin-bottom: 48px; //4 商品カテゴリ一覧
    line-height: 1.4;
    @include inc.mq(min) {
      display: none;
    }
  }
}
#product.post .p-product__post---txt {
  &____lead {
    margin-bottom: 75px;
    @include inc.mq(min) {
      @include inc.sizing(margin-bottom, wide, 128px, min, 75px);
    }
  }
  & .c-text {
    &--h1 {
      display: none;
      @include inc.mq(min) {
        display: block;
        @include inc.sizing(margin-bottom, wide, 64px, min, 48px);
        line-height: 1.4;
      }
      & + p {
        padding: 0;
        font-size: 16px;
        line-height: 2;
        @include inc.mq(min) {
          @include inc.sizingRem(font-size, wide, 18px, min, 16px);
        }
      }
    }
  }
}
#about .c-text,
#contact .c-text,
#privacy .c-text {
  &--h1 {
    @include inc.sizing(
      margin-bottom,
      wide,
      128px,
      spl,
      48px
    ); //7 会社概要 8 お問い合わせ 9 プライバシーポリシー
  }
}
