@charset 'UTF-8';
@use "../../inc/" as inc;
/*
c-text
-----------------------------------------------------*/
.c-text {
  &--h1 {
    @include inc.sizingRem(font-size, wide, 40px, spl, 25px);
    @include inc.sizing(line-height, wide, 80px, spl, 50px);
    //line-height: 1;
    font-weight: 400;
    font-family: "Futo Go B101";
    span {
      @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
      @include inc.sizing(margin-top, wide, 16px, spl, 8px);
      display: block;
      line-height: 1;
      font-family: 'Noto Sans JP',"游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "MS Ｐゴシック", "MS PGothic", sans-serif;
      font-weight: 400;
    }
    &.news-title {
      @include inc.sizing(padding-top, wide, 32px, spl, 0px);
      @include inc.sizing(margin-bottom, wide, 100px, spl, 56px);//2 お知らせ一覧
    }
    & + p {
      @include inc.sizing(padding-left, tabl, 96px, spl, 25px);
      @include inc.mq(tab) {
        padding-left: 96px;
      }
    }
  }
  &--h2 {
    @include inc.sizingRem(font-size, wide, 26px, spl, 18px);
    @include inc.sizing(line-height, wide, 48px, spl, 32px);
    @include inc.sizing(margin-bottom, wide, 24px, spl, 24px);
    font-weight: 500;
  }
}

#news .c-text {
  &--h1 {
    @include inc.sizing(margin-bottom, wide, 195px, spl, 100px);//2 お知らせ一覧
  }
}
#news.post .c-text {
  &--h1 {
    @include inc.sizing(margin-bottom, wide, 100px, spl, 56px);//2 お知らせ一覧
  }
}
#product .c-text {
  &--h1 {
    @include inc.sizing(margin-bottom, wide, 195px, spl, 75px);//4 商品カテゴリ一覧
  }
}
#product.category .c-text {
  &--h1 {
    @include inc.sizing(margin-bottom, wide, 56px, spl, 32px);//4 商品カテゴリ一覧
  }
}
#product.post .c-text {
  &--h1 {
    @include inc.sizing(margin-bottom, wide, 96px, spl, 48px);//4 商品カテゴリ一覧
  }
}
#about .c-text,
#contact .c-text,
#privacy .c-text {
  &--h1 {
    @include inc.sizing(margin-bottom, wide, 128px, spl, 48px);//7 会社概要 8 お問い合わせ 9 プライバシーポリシー
  }
}