@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-about
-----------------------------------------------------*/
.sp_none {
    display: none;
    @include inc.mq(tabl) {
        display: block;
    }
}
.p-about {
    &--philosophy {
        @include inc.sizing(margin-bottom, wide, 96px, spl, 48px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-flow: column;
        &---ph {
            @include inc.mq(tabl) {
                padding-left: 0;
            }
            img {
                width: 100%;
                @include inc.sizing(margin-bottom, tabl, 48px, spl, 32px);
            }
        }
        &---p {
            width:100%;
            h2 {
                display: block;
            }
            p {
                line-height: 2.8;
            }
        }
        @include inc.mq(tabl) {
            flex-flow: wrap;
            flex-direction:row-reverse;
            &---ph {
                width: 58%;
                position: static;
            }
            &---p {
                width: calc(100% - (58% + 2rem));
                padding: 1.5rem 0 0 0;
                h2 {
                    display: none;
                }
            }
        }
    }
    &--map {
        margin: 0 0 6rem;
        @include inc.sizing(margin-bottom, wide, 96px, spl, 64px);
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 75%; /* 比率を4:3に固定 */
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &---add {
            padding: .5rem 0 0 0;
            margin: 0;
            @include inc.mq(tabl) {
                text-align: right;
            }
        }
    }
}

