@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-breadcrumb
-----------------------------------------------------*/
.p-breadcrumb {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  @include inc.sizingRem(font-size, wide, 12px, spl, 10px);
  @include inc.sizing(margin-top, wide, 64px, spl, 26px);
  @include inc.sizing(margin-bottom, wide, 48px, spl, 32px);
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari 対応 */
  }
  &__container {
    display: flex;
    gap: 28px;
  }
  &__item {
    list-style-type: none;
    position: relative;
    line-height: 2;
    white-space: nowrap;
    a {
      text-decoration: none;
    }
    & + .p-breadcrumb__item {
      &::before {
        content: "＞";
        position: absolute;
        left: -19px;
        top: 2px;
        @include inc.sizingRem(font-size, wide, 9px, spl, 8px);
      }
    }
  }
}
