@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-dl-table
-----------------------------------------------------*/
.p-dl-table {
  border-top: 1px solid inc.$color-grn3;
  div {
    border-bottom: 1px solid inc.$color-grn3;
    padding: 1.5rem 0;
    display: block;
    @include inc.mq(min) {
      padding: 2rem 0;
      display: flex;
      flex-wrap: wrap;
    }
    dt {
      @include inc.sizingRem(font-size, wide, 16px, spl, 12px);
      width: 100%;
      margin: 0 0 0.5rem;
      padding: 0;
      @include inc.mq(min) {
        width: 20%;
        margin: 0;
        padding: 0.25rem 0 0 0;
      }
    }
    dd {
      @include inc.sizingRem(font-size, wide, 18px, spl, 16px);
      width: 100%;
      line-height: 1.6;
      @include inc.mq(min) {
        width: 80%;
      }
    }
  }
}

#home .p-dl-table,
#news .p-dl-table {
  & dd {
    a {
      text-decoration: none;
    }
  }
}

#product.post .p-dl-table {
  border-top: 1px solid inc.$color-grn3;
  div {
    border-bottom: 1px solid inc.$color-grn3;
    padding: 1.3rem 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    dt {
      font-size: 14px;
      width: 33%;
      margin: 0 0 0.5rem;
      line-height: 2;
      padding: 0;
      @include inc.mq(min) {
        @include inc.sizingRem(font-size, wide, 16px, min, 14px);
        width: 42%;
        margin: 0;
      }
      @include inc.mq(tabl) {
        width: 33%;
      }
    }
    dd {
      width: 67%;
      line-height: 1.6;
      font-size: 16px;
      @include inc.mq(min) {
        @include inc.sizingRem(font-size, wide, 18px, min, 16px);
        width: 58%;
      }
      @include inc.mq(tabl) {
        width: 67%;
      }
    }
  }
}
