@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-footer
-----------------------------------------------------*/
.p-footer {
  &__banner {
    background-color: inc.$color-grn2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 72px 0;
    position: relative;
    @include inc.mq(min) {
      padding: 0;
      height: 30.5rem;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2.5rem 0;
      @include inc.mq(min) {
        gap: 0 2rem;
      }
      &-item {
        text-align: center;
        width: 100%;
        list-style-type: none;
        background: inc.$color-grn6;
        color: inc.$color-grn2;
        @include inc.sizing(border-radius, wide, 30px, sp, 20px);
        @include inc.sizing(height, wide, 192px, sp, 115px);
        @include inc.sizing(padding-top, wide, 44px, sp, 21px);
        @include inc.mq(min) {
          width: calc(50% - 1rem);
        }
        & > a {
          text-decoration: none !important;
          align-items: center;
          height: 100%;
        }
        &-tel {
          -webkit-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
          display: block;
          & > p {
            &:first-child {
              @include inc.sizingRem(font-size, wide, 18px, sp, 12px);
              @include inc.sizing(line-height, wide, 26px, sp, 17px);
              margin-bottom: 3px;
            }
            &:nth-child(2) {
              @include inc.sizingRem(font-size, wide, 38px, sp, 26px);
              @include inc.sizing(line-height, wide, 55px, sp, 37px);
              letter-spacing: 0.1em;
            }
            &:last-child {
              @include inc.sizingRem(font-size, wide, 16px, sp, 10px);
              @include inc.sizing(line-height, wide, 36px, sp, 23px);
            }
          }
        }
        &-mail {
          -webkit-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
          & > p {
            &:first-child {
              @include inc.sizingRem(font-size, wide, 18px, sp, 12px);
              @include inc.sizing(line-height, wide, 26px, sp, 17px);
              @include inc.sizing(margin-bottom, wide, 16px, sp, 13px);
            }
            &:last-child {
              position: relative;
              @include inc.sizingRem(font-size, wide, 28px, sp, 15px);
              @include inc.sizing(line-height, wide, 40px, sp, 21px);
              @include inc.sizing(padding-left, wide, 50px, sp, 36px);
              letter-spacing: 0.027em;
              font-weight: 500; //Medium
              width: fit-content;
              margin: 0 auto;
              &::before {
                content: "";
                display: block;
                position: absolute;
                -webkit-transition: all 0.1s ease-out;
                transition: all 0.1s ease-out;
                background: url(../img/icon/mail.svg) no-repeat 50% 50% /
                  contain;
                @include inc.sizing(width, wide, 42px, sp, 28px);
                @include inc.sizing(height, wide, 28px, sp, 19px);
                transform: translateY(-50%);
                top: 53%;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
  &__inner-sitemap {
    padding: 4.5rem 0 2.5rem;
    @include inc.mq(tab) {
      padding: 8rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
  &__inner-list {
    max-width: 15rem;
    width: 80%;
    @include inc.mq(sp) {
      width: 70%;
    }
    margin: 0 auto;
    @include inc.mq(tab) {
      max-width: none;
      @include inc.sizing(width, wide, 273px, sp, 216px);
      margin: 0;
    }
  }
  &__list {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    &-item {
      font-weight: 500; //Medium
      @include inc.sizingRem(font-size, wide, 18px, sp, 16px);
      line-height: 1.6;
      a {
        text-decoration: none;
      }
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .div1 {
      grid-area: 1 / 1 / 2 / 2;
      padding: 1rem 0;
    }
    .div2 {
      grid-area: 2 / 1 / 3 / 2;
      padding: 1rem 0;
    }
    .div3 {
      grid-area: 3 / 1 / 4 / 2;
      padding: 1rem 0;
      line-height: 1;
    }
    .div4 {
      grid-area: 1 / 2 / 2 / 3;
      padding: 1rem 0;
    }
    .div5 {
      grid-area: 2 / 2 / 3 / 3;
      padding: 1rem 0;
    }
    .div6 {
      grid-area: 3 / 2 / 4 / 3;
      padding: 1rem 0;
      @include inc.sizing(font-size, wide, 13px, sp, 10px);
      font-weight: 400; //Regular
    }
    @include inc.mq(tab) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      grid-template-rows: 48px 48px 80px auto;
      .div1 {
        grid-area: 1 / 1 / 2 / 2;
        width: 98%;
        padding: 0;
      }
      .div2 {
        grid-area: 2 / 1 / 3 / 2;
        width: 98%;
        margin-top: 0;
        padding: 0;
      }
      .div3 {
        grid-area: 3 / 1 / 4 / 3;
        margin-top: 0;
        padding: 0;
      }
      .div4 {
        grid-area: 1 / 2 / 2 / 3;
        width: 98%;
        padding: 0;
      }
      .div5 {
        grid-area: 2 / 2 / 3 / 3;
        width: 98%;
        margin-top: 0;
        padding: 0;
      }
      .div6 {
        grid-area: 4 / 1 / 5 / 3;
        font-size: 13px;
        margin-top: 0;
        padding: 0;
      }
    }
  }

  &__inner-logo {
    width: 70%;
    margin: 4.5rem auto 0;
    text-align: center;
    @include inc.mq(tab) {
      width: 48%;
      margin: 0;
      text-align: left;
    }
  }
  &__logo {
    max-width: 14rem;
    width: 70%;
    position: relative;
    margin: 0 auto;
    & > img {
      @include inc.mq(tab) {
        height: 40px;
        margin-bottom: 32px;
      }
      height: 27px;
      width: auto;
      margin: 0 auto 16px;
      @include inc.mq(tab) {
        margin: 0 0 16px;
      }
    }
    @include inc.mq(tab) {
      max-width: none;
      width: auto;
    }
  }
  &__inner-add {
    max-width: 14rem;
    width: 70%;
    @include inc.sizingRem(font-size, wide, 18px, tabl, 12px);
    font-weight: 400;
    line-height: 1.8;
    margin: 0 auto;
    @include inc.mq(tab) {
      max-width: none;
      width: auto;
      margin: 40px 0 0 0;
    }
    address {
      font-style: normal;
      display: inline;
      em {
        padding: 0;
        display: block;
        font-weight: 400;
        @include inc.mq(tab) {
          padding-right: 1rem;
          display: inline;
        }
      }
    }
    span {
      @include inc.sizingRem(font-size, wide, 16px, tabl, 12px);
      display: block;
      @include inc.mq(tab) {
        display: inline;
      }
      & + span {
        @include inc.sizing(padding-left, wide, 16px, spl, 0px);
      }
    }
  }

  &__bottom {
    @include inc.sizing(padding-top, wide, 64px, spl, 32px);
    & > small {
      display: block;
      font-weight: 400;
      line-height: 2;
      @include inc.sizingRem(font-size, wide, 10px, spl, 8px);
    }
  }
}
