@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-home
-----------------------------------------------------*/


.p-home {
    &__main {
        &---wrapper {
            border: 1px solid red;
            width: 100%;
            // @include inc.sizing(padding-left, tabl, 70px, spl, 25px);
            // @include inc.sizing(padding-right, tabl, 70px, spl, 25px);
            padding: 0;
            margin: 0 auto;
            @include inc.mq(tabl) {
                max-width: 1312px;
                @include inc.sizing(padding-left, wide, 128px, tabl, 70px);
                @include inc.sizing(padding-right, wide, 128px, tabl, 70px);
            }
            @include inc.mq(wide) {
                //max-width: 1312px;
                max-width: calc(1312px + (128px * 2));
                padding: 0 128px;
            }
        }
        position: relative;
        figure {
            width: 100%;
            padding-left: 0;
            @include inc.mq(tabl) {
                padding-left: 30%;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        div {
            background: inc.$color-wht;
            @include inc.sizing(padding-top, tabl, 96px, spl, 50px);
            //@include inc.sizing(padding-bottom, tabl, 96px, spl, 50px);
            @include inc.sizing(padding-left, tabl, 64px, spl, 25px);
            @include inc.sizing(padding-right, tabl, 64px, spl, 25px);
            @include inc.sizing(margin-right, tabl, 112px, spl, 25px);
            @include inc.sizing(margin-top, tabl, -96px, spl, -50px);
            position: relative;
            z-index: 1;
            @include inc.mq(tabl) {
                padding: 0;
                background: none;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0%, -46%);
                -webkit-transform: translate(0%, -46%);
                -ms-transform: translate(0%, -46%);
            }
            h1 {
                letter-spacing: .2rem;
                @include inc.sizingRem(font-size, wide, 72px, spl, 30px);
                line-height: 1.4;
                font-weight: 400;
                font-family: "Futo Go B101";
                @include inc.sizing(margin-bottom, wide, 48px, tabl, 24px);
            }
            p {
                line-height: 260%;
                letter-spacing: .04rem;
            }
        }
    }
    &__lead {
        border: 1px solid red;
        width: 100%;
        padding: 100px 0 0 0;
        margin: 0 auto;
        @include inc.mq(tabl) {
            max-width: 1312px;
            width: 100%;
            padding: 0;
            max-width: 1312px;
            @include inc.sizing(padding-left, wide, 224px, tabl, 70px);
            @include inc.sizing(padding-right, wide, 128px, tabl, 70px);
        }
        @include inc.mq(wide) {
            max-width: calc(1312px + (128px * 2));
            padding: 0 128px 0 224px;
        }
        @include inc.mq(tabl) {
            margin-top: -64px;
        }
        position: relative;
        z-index: 1;
        &---flx {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            &____ph {
                width: 100%;
                @include inc.sizing(padding-left, wide, 256px, spl, 100px);
                margin-bottom: 50px;
                img {
                    width: 100%;
                    height: auto;
                }
                @include inc.mq(tabl) {
                    border: 1px solid blue;
                    //width: 41.46%;
                    width: 44.74%;
                    //margin-left: 7.3%;
                    margin-bottom: 0;
                    padding-left: 0;
                }
            }
            &____txt {
                width: 100%;
                @include inc.sizing(padding-left, wide, 96px, spl, 50px);
                @include inc.sizing(padding-right, wide, 96px, spl, 50px);
                @include inc.mq(tabl) {
                    //width: 41.46%;
                    width: 44.82%;
                    padding: 96px 96px 0;
                    //padding: 5.6rem 3rem 0;
                    @include inc.sizing(padding-top, wide, 96px, tabl, 64px);
                    @include inc.sizing(padding-left, wide, 96px, tabl, 64px);
                    @include inc.sizing(padding-right, wide, 96px, tabl, 64px);
                    @include inc.sizing(padding-bottom, wide, 140px, tabl, 0px);
                    background: inc.$color-wht;
                }
                h2 {
                    font-weight: 400;
                    font-family: "Futo Go B101";
                    @include inc.sizingRem(font-size, wide, 39px, spl, 18px);
                    line-height: 1.6;
                    @include inc.sizing(margin-bottom, wide, 48px, tabl, 24px);
                }
                p {
                    line-height: 3;
                }
                p + p {
                    margin-top: 64px;
                    line-height: 1;
                }
            }
        }
    }
    &__strength {
        position: relative;
        max-width: 1184px;
        width: 100%;
        margin: 0 auto;
        @include inc.sizing(margin-top, wide, 190px, spl, 100px);
        @include inc.sizing(padding-top, wide, 160px, spl, 75px);
        @include inc.sizing(padding-left, tabl, 64px, spl, 25px);
        @include inc.sizing(padding-right, tabl, 64px, spl, 25px);
        @include inc.mq(tabl) {
            @include inc.sizing(padding-left, tabl, 64px, vr, 0px);
            @include inc.sizing(padding-right, tabl, 64px, vr, 0px);
        }
        &---title {
            position: absolute;
            top: 0;
            @include inc.sizing(left, tabl, 64px, spl, 25px);
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            font-weight: 400;
            font-family: "Futo Go B101";
            @include inc.sizingRem(font-size, wide, 39px, spl, 22px);
            letter-spacing: 0.128em;
            @include inc.mq(tabl) {
                @include inc.sizing(left, tabl, 64px, vr, 0px);
            }
        }
        &---list {
            width: 100%;
            margin: 0 auto;
            @include inc.sizing(padding-left, tabl, 144px, spl, 60px);
            @include inc.sizing(padding-right, tabl, 96px, spl, 25px);
                @include inc.mq(tabl) {
                width: 89%;
                display: flex;
                flex-wrap: wrap;
                gap: 0 6%;
                margin-left: 11%;
                padding: 0;
            }
            justify-content: space-between;
            &____block {
                width: 100%;
                @include inc.mq(tabl) {
                    width: 27.27%;
                    padding-left: 2em;
                    border-left: 1px solid inc.$color-grn3;
                    display: flex;
                    flex-direction: column;
                }
                h3 {
                    @include inc.sizingRem(font-size, wide, 26px, spl, 18px);
                    line-height: 1;
                    @include inc.sizing(margin-bottom, wide, 48px, tabl, 24px);
                }
                p {
                    @include inc.sizing(margin-bottom, wide, 72px, tabl, 24px);
                    line-height: 2.2;
                }
                figure {
                    margin-top: auto;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                & + & {
                    margin-top: 100px;
                    @include inc.mq(tabl) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    &__product {
        &---wrapper {
            border: 1px solid red;
            width: 100%;
            padding: 0;
            margin: 0 auto;
            @include inc.mq(tabl) {
                //max-width: 1312px;
                width: 100%;
                padding: 0;
                max-width: 1568px;
                @include inc.sizing(padding-left, wide, 224px, tabl, 70px);
                @include inc.sizing(padding-right, wide, 224px, tabl, 70px);
            }
        }
        //border: 1px solid red;
        //max-width: 1184px;
        //max-width: 1312px;
        width: 100%;
        margin: 0 auto;
        @include inc.sizing(margin-top, wide, 256px, spl, 100px);
        @include inc.sizing(padding-top, wide, 160px, spl, 75px);
        @include inc.mq(tabl) {
            //padding-left: 7.317%;
            //padding-right: 7.317%;
            //padding-left: 5.76%;
            //padding-right: 5.76%;
            // @include inc.sizing(padding-left, wide, 96px, tabl, 64px);
            // @include inc.sizing(padding-right, wide, 96px, tabl, 64px);
        }
        position: relative;
        &---title {
            position: absolute;
            top: 0;
            @include inc.sizing(right, tabl, 64px, spl, 25px);
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            font-weight: 400;
            font-family: "Futo Go B101";
            @include inc.sizingRem(font-size, wide, 39px, spl, 22px);
            @include inc.mq(tabl) {
                //right: 4.88%;
                right: -48px;
                //@include inc.sizing(right, tabl, 64px, vr, 0px);
            }
        }
        p + p {
            @include inc.sizing(margin-top, wide, 64px, spl, 24px);
        }
    }
    &__news {
        max-width: 1312px;
        margin: 0 auto;
        @include inc.sizing(margin-top, wide, 245px, spl, 100px);
        @include inc.sizing(padding-top, wide, 160px, spl, 75px);
        @include inc.sizing(padding-left, tabl, 224px, spl, 75px);
        @include inc.sizing(padding-right, tabl, 96px, spl, 25px);
        position: relative;
        @include inc.mq(tabl) {
            @include inc.sizing(padding-left, tabl, 64px, wide, 0px);
            @include inc.sizing(padding-right, tabl, 64px, wide, 0px);
        }
        &---title {
            position: absolute;
            top: 0;
            @include inc.sizing(left, tabl, 64px, spl, 25px);
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            font-weight: 400;
            font-family: "Futo Go B101";
            @include inc.sizingRem(font-size, wide, 39px, spl, 22px);
            @include inc.mq(tabl) {
                @include inc.sizing(left, tabl, 64px, wide, 0px);
            }
        }
        &---list {
            width: 100%;
            margin-left: 0;
            @include inc.mq(tabl) {
                width: 80%;
                margin-left: 20%;
            }
        }
        &---more {
            display: flex;
            flex-direction:row-reverse;
            @include inc.sizing(margin-top, tabl, 64px, spl, 52px);
        }
    }
}
