@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-home
-----------------------------------------------------*/

.p-home {
  &__main {
    &---wrapper {
      width: 100%;
      padding: 0;
      margin: 0 auto;
    }
    position: relative;
    & > figure {
      width: 100%;
      padding-left: 0;
      & > div {
        overflow: hidden;
        & > img {
          width: 100%;
          height: auto;
          opacity: 0;
          transform: scale(1.02);
        }
      }
    }
    &--txt {
      z-index: 1;
      position: absolute;
      color: inc.$color-wht;
      @include inc.sizing(top, wide, 119px, sp, 35px);
      @include inc.sizing(left, wide, 121px, sp, 25px);
      h1 {
        font-weight: 500; //Medium
        letter-spacing: 0.025em;
        @include inc.sizingRem(font-size, tabl, 40px, spl, 23px);
        @include inc.sizing(line-height, tabl, 60px, spl, 41px);
        margin-bottom: 0;
        @include inc.mq(tab) {
          @include inc.sizingRem(font-size, tabl, 40px, tab, 35px);
          @include inc.sizing(line-height, tabl, 60px, tab, 51px);
        }
        @include inc.mq(tabl) {
          @include inc.sizingRem(font-size, wide, 60px, tabl, 40px);
          @include inc.sizing(line-height, wide, 102px, tabl, 60px);
        }
      }
      p {
        font-size: 12px;
        line-height: 22px;
        @include inc.mq(tabl) {
          @include inc.sizing(line-height, wide, 40px, tabl, 22px);
          @include inc.sizingRem(font-size, wide, 18px, tabl, 12px);
          letter-spacing: 0.04rem;
        }
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      @include inc.sizing(height, wide, 506px, sp, 211px);
      @include inc.sizing(margin-top, wide, -189px, sp, 55px);
      background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        #fff 23.65%,
        #fff 100%
      );
    }
  }
  &__lead {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    &--txt {
      text-align: center;
      & > h2 {
        @include inc.sizingRem(font-size, wide, 40px, sp, 20px);
        @include inc.sizing(line-height, wide, 62px, sp, 32px);
        @include inc.sizing(margin-bottom, wide, 31px, sp, 47px);
        letter-spacing: 0.01em;
      }
      & > p {
        @include inc.sizingRem(font-size, wide, 18px, sp, 16px);
        @include inc.sizing(line-height, wide, 42px, sp, 35px);
      }
    }
  }
  &__strength {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 75px;
    &--list {
      display: flex;
      flex-direction: column;
      gap: 75px;
      @include inc.mq(spl) {
        flex-direction: row;
        justify-content: center;
        @include inc.sizing(gap, wide, 64px, sp, 25px);
      }
    }
    &--block {
      @include inc.sizing(width, wide, 256px, sp, 150px);
      & > h3 {
        position: relative;
        @include inc.sizingRem(font-size, wide, 32px, sp, 22px);
        line-height: 53px;
        @include inc.sizing(margin-bottom, wide, 32px, sp, 25px);
        text-align: center;
        &::before {
          content: "";
          display: block;
          position: absolute;
          background-color: inc.$color-ltg;
          border-radius: 999px;
          @include inc.sizing(width, wide, 192px, sp, 150px);
          @include inc.sizing(height, wide, 192px, sp, 150px);
          z-index: -1;
          transform: translateX(-50%);
          left: 50%;
          @include inc.sizing(margin-top, wide, -73px, sp, -59px);
        }
      }
      & > p {
        font-size: inc.rem(16);
        line-height: 32px;
      }
    }
  }
  &__product {
    width: 100%;
    margin: 0 auto;
    @include inc.sizing(margin-top, sp, 100px, wide, 127px);
    position: relative;
    &--wrapper {
      width: 100%;
      @include inc.sizing(margin-top, sp, 125px, wide, 160px);
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        @include inc.sizing(height, wide, 981px, sp, 1054px);
        background-image: url(../img/bg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 100%;
        z-index: -1;
      }
    }
    &--title {
      @include inc.sizing(margin-bottom, wide, 64px, sp, 50px);
    }
    &--container {
      display: flex;
      flex-direction: column;
      @include inc.sizing(margin-bottom, wide, 64px, sp, 50px);
      margin: 0 auto;
      @include inc.mq(spl) {
        flex-direction: row;
        justify-content: center;
        @include inc.sizing(width, wide, 992px, spl, 480px);
        gap: 32px;
      }
    }
    &--text {
      background-color: inc.$color-grn2;
      @include inc.sizing(border-radius, wide, 30px, sp, 20px);
      @include inc.sizing(padding, wide, 64px, sp, 50px);
      @include inc.sizing(padding-top, wide, 55px, sp, 33px);
      @include inc.sizing(padding-bottom, wide, 55px, sp, 33px);
      & > h2 {
        color: inc.$color-wht;
        text-align: center;
        font-weight: 500; //Medium
        @include inc.sizingRem(font-size, wide, 32px, sp, 22px);
        @include inc.sizing(line-height, wide, 40px, sp, 28px);
        @include inc.sizing(margin-bottom, wide, 27px, sp, 23px);
      }
      & > p {
        color: inc.$color-wht;
        @include inc.sizingRem(font-size, wide, 18px, sp, 16px);
        @include inc.sizing(line-height, wide, 32px, sp, 28px);
        @include inc.sizing(margin-bottom, wide, 27px, sp, 23px);
        &:last-child {
          text-align: center;
        }
        & > a {
          color: inc.$color-wht;
          @include inc.sizingRem(font-size, wide, 20px, sp, 16px);
          &::before,
          &::after {
            background-color: inc.$color-wht;
          }
        }
      }
    }
  }
  &__news {
    max-width: 1312px;
    margin: 0 auto;
    @include inc.sizing(margin-top, wide, 245px, spl, 100px);
    @include inc.sizing(padding-top, wide, 160px, spl, 75px);
    padding-left: 20%;
    padding-right: 6.6%;
    position: relative;
    @include inc.mq(min) {
      padding: 0;
      display: flex;
      flex-direction: row-reverse;
      @include inc.sizing(max-width, tab, 666px, min, 555px);
    }
    @include inc.mq(tab) {
      @include inc.sizing(max-width, tabl, 760px, tab, 666px);
    }
    @include inc.mq(tabl) {
      @include inc.sizing(max-width, wide, 1312px, tabl, 760px);
    }
    &---title {
    }
    &---list {
      width: 100%;
      margin-left: 0;
      @include inc.mq(min) {
        @include inc.sizing(width, tab, 558px, min, 452px);
      }
      @include inc.mq(tab) {
        @include inc.sizing(width, tabl, 611px, tab, 558px);
      }
      @include inc.mq(tabl) {
        @include inc.sizing(width, wide, 1024px, tabl, 611px);
      }
      dt {
        font-size: 12px;
        @include inc.mq(min) {
          font-size: 10px;
        }
        @include inc.mq(tabl) {
          @include inc.sizingRem(font-size, wide, 14px, tabl, 10px);
        }
      }
      dd a {
        font-size: 14px;
        @include inc.mq(min) {
          font-size: 10px;
        }
        @include inc.mq(tabl) {
          @include inc.sizingRem(font-size, wide, 16px, tabl, 10px);
        }
      }
    }
    &---more {
      display: flex;
      flex-direction: row-reverse;
      @include inc.sizing(margin-top, tabl, 64px, spl, 52px);
    }
  }
}

.show-in img {
  animation-name: show-in;
  animation-duration: 2.4s;
  animation-fill-mode: forwards;
}
@keyframes show-in {
  0% {
    opacity: 0;
    transform: scale(1.08);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
