@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-table
-----------------------------------------------------*/
.p-dl-table {
  border-top: 1px solid inc.$color-grn3;
  div {
    border-bottom: 1px solid inc.$color-grn3;
    padding: 1.5rem 0;
    display: block;
    @include inc.mq(tabl) {
      padding: 2rem 0;
      display: flex;
      flex-wrap: wrap;
    }
    dt {
      @include inc.sizingRem(font-size, wide, 14px, spl, 11px);
      width: 100%;
      margin: 0 0 .5rem;
      padding: 0;
      @include inc.mq(tabl) {
        width: 20%;
        margin: 0;
        padding: 0.25rem 0 0 0;
      }
    }
    dd {
      width: 100%;
      line-height: 1.6;
      @include inc.mq(tabl) {
        width: 80%;
      }
    }
  }
}
.p-table {
}
