@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap"); /*
i-functions
-----------------------------------------------------*/ /*
i-setting
-----------------------------------------------------*/
a, img, a img {
  border: none;
  outline: none;
  text-decoration: none;
  color: #104327;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  color: #171717;
  background-color: #fff;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

/*
i-mixin
-----------------------------------------------------*/
/*
index
-----------------------------------------------------*/
/*
l-wrapper
-----------------------------------------------------*/
.l-wrapper {
  max-width: 86rem;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.l-wrapper2 {
  max-width: 70rem;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.l-wrapper3 {
  max-width: 66rem;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.l-wrapper4 {
  max-width: 62rem;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

/*
l-section
-----------------------------------------------------*/
/*
l-main
-----------------------------------------------------*/
/*
l-header
-----------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 80px;
}
@media screen and (min-width: 1280px) {
  :target {
    scroll-margin-top: 120px;
  }
}

.l-header {
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  height: 60px;
  background-color: #fff;
}
@media screen and (min-width: 1280px) {
  .l-header {
    height: 100px;
  }
}

/*
l-footer
-----------------------------------------------------*/
.l-footer {
  width: 100%;
  position: relative;
  width: 100%;
}

/*
l-nav
-----------------------------------------------------*/
.l-nav {
  margin: 2rem 4% 4rem 4%;
}
.l-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(14px, 0.17vw + 13.3px, 16px);
}
@media screen and (min-width: 1280px) {
  .l-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.l-nav ul li {
  font-size: clamp(0.6875rem, 0.26vw + 0.61875rem, 0.875rem);
  line-height: clamp(11px, 0.26vw + 9.9px, 14px);
  padding-left: clamp(36px, 0.52vw + 33.8px, 42px);
  position: relative;
}
.l-nav ul li:before {
  content: "";
  display: block;
  width: clamp(14px, 0.17vw + 13.3px, 16px);
  height: clamp(14px, 0.17vw + 13.3px, 16px);
  background: url(../img/arw/blue_down.svg) no-repeat 0 0;
  background-size: contain;
  position: absolute;
  top: 0;
  left: clamp(14px, 0.17vw + 13.3px, 16px);
}
@media screen and (min-width: 1280px) {
  .l-nav {
    margin: 0;
  }
}

/*
l-body
-----------------------------------------------------*/
.l-body {
  padding-top: 60px;
}
@media screen and (min-width: 1280px) {
  .l-body {
    padding-top: 100px;
  }
}

/*
l-hero
-----------------------------------------------------*/
/*
c-text
-----------------------------------------------------*/
.c-text--h1 {
  font-size: clamp(1.5rem, 1.74vw + 1.04375rem, 2.75rem);
  line-height: clamp(42px, 3.31vw + 28.1px, 80px);
  margin-bottom: clamp(48px, 5.57vw + 24.7px, 112px);
  font-weight: 700;
  padding-left: 4%;
}
@media screen and (min-width: 1280px) {
  .c-text--h1 {
    padding-left: 0;
  }
}
.c-text--h1 span {
  font-size: clamp(0.75rem, 0.17vw + 0.70625rem, 0.875rem);
  margin-bottom: clamp(12px, 1.05vw + 7.5px, 24px);
  display: block;
  line-height: 1;
  font-weight: 500;
}
.c-text--h2 {
  font-size: clamp(1.25rem, 0.35vw + 1.15625rem, 1.5rem);
  line-height: clamp(32px, 1.39vw + 26.2px, 48px);
  margin-bottom: clamp(16px, 0.7vw + 13px, 24px);
  font-weight: 700;
}
.c-text--h3 {
  font-size: clamp(1rem, 0.35vw + 0.90625rem, 1.25rem);
  line-height: clamp(24px, 0.52vw + 21.8px, 30px);
  margin-bottom: clamp(12px, 0.35vw + 10.5px, 16px);
  padding-left: clamp(12px, 0.35vw + 10.5px, 16px);
  font-weight: 500;
  padding-bottom: 3px;
  line-height: 1;
}
.c-text--h3.--peopel {
  border: none;
  padding-left: 0;
  font-weight: 700;
}
.c-text--h2 + .c-text--h3 {
  margin-top: 40px;
}
.c-text--h4 {
  font-size: clamp(0.875rem, 0.35vw + 0.78125rem, 1.125rem);
  line-height: clamp(24px, 0.7vw + 21px, 32px);
  margin-bottom: clamp(12px, 0.35vw + 10.5px, 16px);
  padding-bottom: clamp(12px, 0.35vw + 10.5px, 16px);
  font-weight: 700;
}

/*
c-arrow
-----------------------------------------------------*/
.c-arrow {
  display: block;
  width: 224px;
  height: 58px;
  border-radius: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .c-arrow {
    height: 70px;
  }
}
.c-arrow span {
  border-radius: 35px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  padding: 0 2.5rem;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(0.875rem, 0.35vw + 0.78125rem, 1.125rem);
  position: relative;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.c-arrow span::after {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  content: "";
  width: 18px;
  height: 18px;
  background: url(../img/arw/blue_right.svg) no-repeat 50% 50%;
  background-size: contain;
  position: absolute;
  right: 13%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.c-arrow.left {
  margin: 0;
}
@media (hover: hover) {
  .c-arrow:hover span::after {
    right: 12.3%;
  }
}

/*
c-br
-----------------------------------------------------*/
.c-br--tab {
  display: block;
}
@media screen and (min-width: 768px) {
  .c-br--tab {
    display: none;
  }
}
.c-br--tab-r {
  display: none;
}
@media screen and (min-width: 768px) {
  .c-br--tab-r {
    display: block;
  }
}
.c-br--lap {
  display: block;
}
@media screen and (min-width: 1025px) {
  .c-br--lap {
    display: none;
  }
}
.c-br--lap-r {
  display: none;
}
@media screen and (min-width: 1025px) {
  .c-br--lap-r {
    display: block;
  }
}
.c-br--640 {
  display: none;
}

@media screen and (min-width: 540px) {
  .c-br--640 {
    display: block;
  }
}
@media screen and (min-width: 640px) {
  .c-br--640 {
    display: none;
  }
}
/*
c-link
-----------------------------------------------------*/
/*
c-searchbox
-----------------------------------------------------*/
/*
c-icon
-----------------------------------------------------*/
.c-icon--blank::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 9px;
  background-image: url(../img/icon/gray_blank.svg);
  background-repeat: no-repeat;
  background-position: 100% 32%;
  background-size: contain;
  padding-right: 1rem;
}

/*
c-button
-----------------------------------------------------*/
/*
c-figure
-----------------------------------------------------*/
.c-figure--w3h2 {
  aspect-ratio: 3/2;
}

/*
p-footer
-----------------------------------------------------*/
.p-footer {
  padding: 0 0 2rem;
}
.p-footer__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0 6rem;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner {
    padding: 12rem 0 9rem;
  }
}
.p-footer__banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/footer/hand.png) no-repeat;
  background-size: 240px;
  background-position: -15% 150%;
  mix-blend-mode: multiply;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner::after {
    background-size: 570px 718px;
    background-position: 90% 10%;
  }
}
.p-footer__banner-inner {
  position: relative;
  z-index: 1;
}
.p-footer__banner-text {
  font-size: clamp(1.5rem, 1.31vw + 1.15625rem, 2.4375rem);
  font-weight: 700;
  text-align: center;
  margin: 0 auto 3rem;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-text {
    margin: 0 auto 2.5rem;
  }
}
.p-footer__banner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.8rem 0;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list {
    gap: 0;
  }
}
.p-footer__banner-list-item {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  list-style-type: none;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-item {
    width: 48%;
    height: 5rem;
    border-radius: 2.5rem;
  }
}
.p-footer__banner-list-item span {
  font-weight: 700;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: clamp(1rem, 0.52vw + 0.8625rem, 1.375rem);
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-item span {
    padding: 0 3rem;
  }
}
.p-footer__banner-list-item.-white {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  position: relative;
}
.p-footer__banner-list-item.-white::after {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/arw/blue_right.svg) no-repeat 50% 50%;
  background-size: contain;
  position: absolute;
  right: 11%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-item.-white::after {
    width: 20px;
    height: 20px;
  }
}
@media (hover: hover) {
  .p-footer__banner-list-item.-white:hover::after {
    right: 10.5%;
  }
}
.p-footer__banner-list-item.-yellow {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  position: relative;
}
.p-footer__banner-list-item.-yellow::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url(../img/icon/blue_blank.svg) no-repeat 50% 50%;
  background-size: contain;
  position: absolute;
  right: 11%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-item.-yellow::after {
    width: 20px;
    height: 20px;
  }
}
@media (hover: hover) {
  .p-footer__banner-list-item.-yellow:hover::after {
    right: 10.5%;
  }
}
.p-footer__banner-list-faq {
  margin: 2.5rem auto 0;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-faq {
    margin: 4rem auto 0;
  }
}
.p-footer__banner-list-faq a span {
  color: #fff;
  font-size: clamp(0.875rem, 0.35vw + 0.78125rem, 1.125rem);
  padding: 0 1.6rem 4px 0;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-faq a span {
    padding: 0 2rem 5px 0;
  }
}
.p-footer__banner-list-faq a span::after {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/arw/white_right.svg) no-repeat 0 0;
  background-size: 15px;
  position: absolute;
  right: 0;
  top: 3px;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-faq a span::after {
    width: 20px;
    height: 20px;
    background-size: 20px;
    top: 5px;
  }
}
@media (hover: hover) {
  .p-footer__banner-list-faq a span::before {
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  .p-footer__banner-list-faq a span:hover::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@media (hover: hover) {
  .p-footer__banner-list-faq a:hover span::after {
    right: -2px;
  }
}
.p-footer__inner-sitemap {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0 3.5rem;
}
@media screen and (min-width: 1280px) {
  .p-footer__inner-sitemap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4rem 0 6rem;
  }
}
.p-footer__inner-logo {
  width: 100%;
}
.p-footer__logo {
  position: relative;
  width: clamp(345px, 0vw + 345px, 345px);
}
.p-footer__logo > img {
  height: 31px;
  width: auto;
}
@media screen and (min-width: 1280px) {
  .p-footer__logo > img {
    height: 53px;
  }
}
.p-footer__logo::after {
  content: "採用サイト";
  font-size: clamp(0.625rem, 0.7vw + 0.4375rem, 1.125rem);
  color: #171717;
  font-weight: 700;
  position: absolute;
  left: 13.5rem;
  bottom: 0px;
}
@media screen and (min-width: 1280px) {
  .p-footer__logo::after {
    left: auto;
    right: -6.4rem;
    bottom: -2px;
  }
}
.p-footer__inner-list {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .p-footer__inner-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    margin-right: 6rem;
  }
}
.p-footer__list {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .p-footer__list {
    width: auto;
  }
}
.p-footer__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem 4%;
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item {
    display: block;
  }
}
.p-footer__list-item dt {
  width: 100%;
  margin: 1.5rem 0 0.2rem;
  font-size: clamp(0.9375rem, 0.44vw + 0.81875rem, 1.25rem);
  font-weight: 700;
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item dt {
    width: auto;
    margin: 0;
  }
}
.p-footer__list-item dd {
  width: 48%;
  font-size: clamp(0.75rem, 0.17vw + 0.70625rem, 0.875rem);
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item dd {
    width: auto;
  }
}
.p-footer__list-item dd a {
  color: #707070;
}
.p-footer__list-item dd.-sp {
  width: auto;
}
.p-footer__list-item dt + dd {
  margin-top: 0;
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item dt + dd {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item dd + dd {
    margin-top: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item + .p-footer__list-item {
    margin-top: 2.2rem;
  }
}
.p-footer__inner-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.p-footer__bottom {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  line-height: 1;
}
@media screen and (min-width: 1280px) {
  .p-footer__bottom {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.p-footer__bottom > small {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.5rem, 0.35vw + 0.40625rem, 0.75rem);
}
.p-footer__corporate {
  font-size: clamp(0.75rem, 0.35vw + 0.65625rem, 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 0 1.5rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 0 1rem !important;
}
@media screen and (min-width: 1280px) {
  .p-footer__corporate {
    gap: 0 2rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0 !important;
    margin-right: 6rem !important;
  }
}
.p-footer__corporate li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
p-header
-----------------------------------------------------*/
.p-header {
  height: 60px !important;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -ms-touch-action: none;
      touch-action: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3% 0 3%;
}
@media screen and (min-width: 1280px) {
  .p-header {
    height: 100px !important;
  }
}
.p-header__logo {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60px !important;
  width: 100px;
}
@media screen and (min-width: 1280px) {
  .p-header__logo {
    height: 100px !important;
    width: 256px;
  }
}
.p-header__logo > a {
  width: 100%;
  height: 12px;
}
@media screen and (min-width: 1280px) {
  .p-header__logo > a {
    height: 30px;
  }
}
.p-header__nav-container {
  display: none;
  font-size: clamp(0.8125rem, 0.26vw + 0.74375rem, 1rem);
  font-weight: 400;
  height: 100px;
  width: 33rem;
}
@media screen and (min-width: 1280px) {
  .p-header__nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: 0;
  }
}
.p-header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.p-header__nav-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.p-header__nav-list.nav-list01 {
  width: 24rem;
  padding-right: 1.4rem;
}
.p-header__nav-list.nav-list01 .p-header__nav-item:first-child {
  display: none;
}
.p-header__nav-list.nav-list02 {
  width: 9rem;
  border-left: 1px solid rgba(16, 67, 39, 0.2);
}
.p-header__nav-list.nav-list02 .p-header__nav-item {
  width: 100%;
  text-align: center;
  line-height: 1;
}
.p-header__nav-item {
  list-style-type: none;
  line-height: 1;
}
.p-header__nav-item a {
  line-height: 1;
}
.p-header__sp {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  height: 60px;
  width: 76px;
  z-index: 101;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1280px) {
  .p-header__sp {
    display: none;
  }
}
.p-header__menu-button {
  display: block;
  width: 76px;
  height: 60px;
  position: fixed;
}
.p-header__menu-design {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 12px;
  margin: -5px 0 0 16px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: -1;
}
.p-header__menu-design > span {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  content: "";
  width: 32px;
  display: block;
  border: 1px solid #104327;
  height: 1px !important;
}
.p-header__menu-design > span:nth-child(1) {
  margin-top: 8px;
}
.p-header__menu-design > span:nth-child(2) {
  margin-top: 5px;
}
.p-header__menu-design > span:nth-child(3) {
  margin-top: 5px;
}
.p-header__menu-design.active > span:nth-child(1) {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  margin-top: 4px;
}
.p-header__menu-design.active > span:nth-child(2) {
  display: none;
}
.p-header__menu-design.active > span:nth-child(3) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  margin-top: -1px;
}

.active.p-header .p-header__nav-container {
  display: block;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 101vh;
  padding: 80px 0 0;
}
.active.p-header .p-header__nav {
  display: block;
}
.active.p-header .p-header__nav-list {
  display: block;
}
.active.p-header .p-header__nav-list.nav-list01 {
  width: 10rem;
  margin: 0 auto;
  padding-right: 0;
}
.active.p-header .p-header__nav-list.nav-list01 .p-header__nav-item {
  width: 100%;
  text-align: center;
  line-height: 1;
  font-size: clamp(0.875rem, 0.57vw + 0.725rem, 1rem);
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(16, 67, 39, 0.2);
}
.active.p-header .p-header__nav-list.nav-list01 .p-header__nav-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.active.p-header .p-header__nav-list.nav-list01 .p-header__nav-item:last-child {
  border-bottom: none;
}
.active.p-header .p-header__nav-list.nav-list02 {
  width: 100%;
  border-left: none;
  background: #186225;
  padding: 2rem;
  position: fixed;
  left: 0;
  bottom: 0;
}
.active.p-header .p-header__nav-list.nav-list02 .p-header__nav-item {
  width: 100%;
  text-align: center;
  line-height: 1;
}
.active.p-header .p-header__nav-list.nav-list02 .p-header__nav-item a {
  height: 80px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.active.p-header .p-header__nav-list.nav-list02 .p-header__nav-item a span {
  position: relative;
  font-size: clamp(0.9375rem, 0.57vw + 0.7875rem, 1.0625rem);
}
.active.p-header .p-header__nav-list.nav-list02 .p-header__nav-item a span::before {
  content: "";
  display: block;
  width: 28px;
  height: 18px;
  background: url(../img/icon/mail.svg) no-repeat 50% 50%/contain;
  position: absolute;
  left: -35px;
}

/*
p-text-box
-----------------------------------------------------*/
.p-text-box {
  margin-bottom: clamp(80px, 1.74vw + 72.7px, 100px);
}
.p-text-box--bluBox {
  border-style: solid;
  border-width: clamp(3px, 0.35vw + 1.5px, 7px);
  border-radius: clamp(8px, 0.7vw + 5px, 16px);
}
.p-text-box--bluBox--h2 {
  font-size: clamp(1rem, 1.22vw + 0.68125rem, 1.875rem);
  line-height: clamp(28px, 1.22vw + 22.9px, 42px);
  font-weight: 700;
  text-align: center;
  padding-top: clamp(16px, 0.7vw + 13px, 24px);
  padding-bottom: clamp(20px, 1.05vw + 15.5px, 32px);
  padding-left: 1rem;
  padding-right: 1rem;
}
.p-text-box--bluBox--h2 span {
  font-size: clamp(0.75rem, 0.17vw + 0.70625rem, 0.875rem);
  display: block;
  font-weight: 500;
  margin-bottom: clamp(0px, 1.57vw - 6.6px, 18px);
}
.p-text-box--bluBox--h2 br {
  display: block;
}
@media screen and (min-width: 768px) {
  .p-text-box--bluBox--h2 br {
    display: none;
  }
}
.p-text-box--bluBox--inner {
  padding: clamp(24px, 2.09vw + 15.2px, 48px);
}
.p-text-box--bluBox--fig {
  display: block;
}
@media screen and (min-width: 768px) {
  .p-text-box--bluBox--fig {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.5rem 2.5rem;
  }
}
.p-text-box--bluBox--fig figure {
  display: block;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media screen and (min-width: 768px) {
  .p-text-box--bluBox--fig figure {
    display: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.p-text-box--bluBox--fig figure img {
  margin: 0 auto 1rem;
  height: 160px;
  width: auto;
}
@media screen and (min-width: 768px) {
  .p-text-box--bluBox--fig figure img {
    margin: 0;
    width: 100%;
    height: auto;
  }
}
.p-text-box--bluBox--dl {
  margin-bottom: clamp(32px, 1.39vw + 26.2px, 48px);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .p-text-box--bluBox--dl {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-right: 200px;
  }
}
.p-text-box--bluBox--dl > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem 1.5rem;
}
.p-text-box--bluBox--dl > div + div {
  margin-top: 1rem;
}
.p-text-box--bluBox--dt span {
  font-size: clamp(0.75rem, 0.17vw + 0.70625rem, 0.875rem);
  padding-top: clamp(4px, 0.17vw + 3.3px, 6px);
  padding-bottom: clamp(4px, 0.17vw + 3.3px, 6px);
  border-radius: 2rem;
  display: inline-block;
  width: 5.5rem;
  text-align: center;
}
.p-text-box--bluBox--dd {
  font-size: clamp(0.875rem, 0.17vw + 0.83125rem, 1rem);
  line-height: 2;
}
.p-text-box--bluBox--flow {
  position: relative;
}
.p-text-box--bluBox--flow + .p-text-box--bluBox--flow {
  margin-top: clamp(48px, 1.39vw + 42.2px, 64px);
}
.p-text-box--bluBox--flow + .p-text-box--bluBox--flow::before {
  content: "";
  width: 26px;
  height: 16px;
  border-style: solid;
  border-width: 16px 13px 0 13px;
  border-color: #1b6fc3 transparent transparent transparent;
  position: absolute;
  top: -26px;
  left: calc(50% - 13px);
}
@media screen and (min-width: 1025px) {
  .p-text-box--bluBox--flow + .p-text-box--bluBox--flow::before {
    width: 32px;
    height: 22px;
    border-width: 22px 16px 0 16px;
    top: -32px;
    left: calc(50% - 16px);
  }
}
.p-text-box--bluBox + .p-text-box--bluBox {
  margin-top: clamp(28px, 0.35vw + 26.5px, 32px);
}

/*
p-table
-----------------------------------------------------*/
.p-table {
  margin: 0 auto;
  width: 100%;
}
.p-table__body th {
  font-weight: 500;
  width: 7%;
  text-align: center;
  vertical-align: middle;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  font-size: clamp(0.75rem, 0.17vw + 0.70625rem, 0.875rem);
}
.p-table__body td {
  width: 31%;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  padding: clamp(12px, 0.7vw + 9px, 20px);
  font-size: clamp(0.75rem, 0.17vw + 0.70625rem, 0.875rem);
  line-height: 1.8;
}
.p-table__body tr:last-child th {
  border-bottom: none;
}
.p-table__head th {
  gap: clamp(14px, 0.17vw + 13.3px, 16px);
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  padding-top: clamp(12px, 0.35vw + 10.5px, 16px);
  padding-bottom: clamp(12px, 0.35vw + 10.5px, 16px);
  font-size: clamp(0.75rem, 0.17vw + 0.70625rem, 0.875rem);
}
.p-table__head th.p-table--bg_non {
  background: none;
}
/*
p-nav
-----------------------------------------------------*/
/*
p-breadcrumb
-----------------------------------------------------*/
.p-breadcrumb {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-size: clamp(0.625rem, 0.17vw + 0.58125rem, 0.75rem);
  margin-top: clamp(10px, 1.05vw + 5.5px, 22px);
  padding-left: clamp(25px, 2.96vw + 12.6px, 59px);
  color: #676767;
}
.p-breadcrumb__container {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7em;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.p-breadcrumb__container::-webkit-scrollbar {
  display: none;
}
.p-breadcrumb__container > span {
  position: relative;
  white-space: nowrap;
  color: #999;
}
.p-breadcrumb__item {
  white-space: nowrap;
  position: relative;
}
.p-breadcrumb__item > span > a {
  position: relative;
}
.p-breadcrumb__item > span > a::after {
  -webkit-transition: all 0.09s ease-out;
  transition: all 0.09s ease-out;
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 1px;
  left: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.p-breadcrumb__item > span > a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.p-breadcrumb__item::after {
  content: "＞";
  margin-left: 0.7em;
}
.p-breadcrumb__item > a {
  position: relative;
}
.p-breadcrumb__item > a::after {
  -webkit-transition: all 0.09s ease-out;
  transition: all 0.09s ease-out;
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 1px;
  left: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.p-breadcrumb__item > a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/*
p-link-box
-----------------------------------------------------*/
/*
p-home
-----------------------------------------------------*/
/*
p-about
-----------------------------------------------------*/
/* =====================================================
  1.0 - Foundation
===================================================== */
/* =====================================================
  2.0 - Layout
===================================================== */
/* =====================================================
  3.0 - Object
===================================================== */
/*
  3.1 - Component
-----------------------------------------------------*/
/*
  3.2 - Project
-----------------------------------------------------*/
/*
  3.3 - Utility
-----------------------------------------------------*/