@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-wrapper
-----------------------------------------------------*/
html {
  @include inc.sizingRem(font-size, wide, 16px, tabl, 14px);
}

.l-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 6.6%;
  &.lead {
    max-width: 100%;
    width: 100%;
  }
  @include inc.mq(min) {
    padding: 0;
    @include inc.sizing(max-width, tab, 666px, min, 538px);
  }
  @include inc.mq(tab) {
    @include inc.sizing(max-width, tabl, 820px, tab, 666px);
  }
  @include inc.mq(tabl) {
    @include inc.sizing(max-width, wide, 1312px, tabl, 820px);
  }
}

.l-wrapper2 {//商品紹介 - 商品カテゴリ / 商品詳細
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6.6%;
  @include inc.mq(min) {
    padding: 0;
    @include inc.sizing(max-width, tab, 615px, min, 488px);
  }
  @include inc.mq(tab) {
    @include inc.sizing(max-width, tabl, 698px, tab, 615px);
  }
  @include inc.mq(tabl) {
    @include inc.sizing(max-width, wide, 1120px, tabl, 698px);
  }
}

.l-wrapper3 {
  padding: 0 13.6%;
  width: 100%;
  margin: 0 auto;
  @include inc.mq(min) {
    padding: 0;
    @include inc.sizing(max-width, tab, 486px, min, 434px);
  }
  @include inc.mq(tab) {
    @include inc.sizing(max-width, tabl, 680px, tab, 486px);
  }
  @include inc.mq(tabl) {
    @include inc.sizing(max-width, wide, 992px, tabl, 680px);
  }
}

.l-wrapper4 {
  padding: 0 13.6%;
  width: 100%;
  margin: 0 auto;
  @include inc.mq(min) {
    padding: 0;
    @include inc.sizing(max-width, tab, 486px, min, 434px);
  }
  @include inc.mq(tab) {
    @include inc.sizing(max-width, tabl, 680px, tab, 486px);
  }
  @include inc.mq(tabl) {
    @include inc.sizing(max-width, wide, 928px, tabl, 680px);
  }
}

.l-wrapper5 {
  padding: 0 13.6%;
  width: 100%;
  margin: 0 auto;
  @include inc.mq(min) {
    padding: 0;
    @include inc.sizing(max-width, tab, 615px, min, 488px);
  }
  @include inc.mq(tab) {
    @include inc.sizing(max-width, tabl, 698px, tab, 615px);
  }
  @include inc.mq(tabl) {
    @include inc.sizing(max-width, wide, 1120px, tabl, 698px);
  }
}

#contact .l-wrapper4 {
  padding: 0 6.6%;
  @include inc.mq(min) {
    padding: 0;
  }
}

#about .lead .l-wrapper4 {
  max-width: 100%;
  width: 100%;
  padding: 0;
  @include inc.mq(min) {
    //padding: 0;
    @include inc.sizing(max-width, tab, 486px, min, 434px);
  }
  @include inc.mq(tab) {
    @include inc.sizing(max-width, tabl, 680px, tab, 486px);
  }
  @include inc.mq(tabl) {
    @include inc.sizing(max-width, wide, 928px, tabl, 680px);
  }
}

#product .lead .l-wrapper3 {
  padding: 0;
  @include inc.mq(min) {
    width:100%;
  }
}


