@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-wrapper
-----------------------------------------------------*/
html {
  @include inc.sizingRem(font-size, wide, 16px, tabl, 14px);
}

.l-wrapper {
  width: 100%;
  @include inc.sizing(padding-left, tabl, 70px, spl, 25px);
  @include inc.sizing(padding-right, tabl, 70px, spl, 25px);
  margin: 0 auto;
  &.lead {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
  @include inc.mq(tabl) {
    max-width: 100%;
    @include inc.sizing(padding-left, wide, 128px, tabl, 70px);
    @include inc.sizing(padding-right, wide, 128px, tabl, 70px);
  }
  @include inc.mq(wide) {
    max-width: calc(1312px + (128px * 2));
    padding: 0 128px;
  }
}

.l-wrapper2 {//商品紹介 - 商品カテゴリ / 商品詳細
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  @include inc.sizing(padding-left, tabl, 70px, spl, 25px);
  @include inc.sizing(padding-right, tabl, 70px, spl, 25px);
  @include inc.mq(tabl) {
    @include inc.sizing(padding-left, tabl, 70px, wide, 0px);
  }
}

.l-wrapper3 {
  max-width: 992px;
  width: 100%;
  @include inc.sizing(padding-left, tabl, 140px, spl, 50px);
  @include inc.sizing(padding-right, tabl, 140px, spl, 50px);
  margin: 0 auto;
  @include inc.mq(tabl) {
    @include inc.sizing(padding-left, tabl, 140px, vr, 0px);
    @include inc.sizing(padding-right, tabl, 140px, vr, 0px);
  }
}

.l-wrapper4 {
  max-width: 928px;
  width: 100%;
  @include inc.sizing(padding-left, tabl, 140px, spl, 50px);
  @include inc.sizing(padding-right, tabl, 140px, spl, 50px);
  margin: 0 auto;
  @include inc.mq(tabl) {
    @include inc.sizing(padding-left, tabl, 140px, vr, 0px);
    @include inc.sizing(padding-right, tabl, 140px, vr, 0px);
  }
}

.l-wrapper5 {
  max-width: 1088px;
  width: 100%;
  @include inc.sizing(padding-left, tabl, 64px, spl, 50px);
  @include inc.sizing(padding-right, tabl, 64px, spl, 50px);
  margin: 0 auto;
  @include inc.mq(tabl) {
    padding: 0 64px;
  }
  @include inc.mq(lap) {
    @include inc.sizing(padding-left, lap, 64px, wide, 32px);
    @include inc.sizing(padding-right, lap, 64px, wide, 0px);
  }
}

#about .l-wrapper {
  &.lead {
    max-width: 100%;
    width: 100%;
    padding: 0;
    .l-wrapper4 {
      max-width: 100%;
      width: 100%;
      padding: 0;
      @include inc.sizing(padding-left, tabl, 140px, spl, 50px);
      @include inc.mq(tabl) {
        max-width: 928px;
        width: 100%;
        @include inc.sizing(padding-left, tabl, 140px, vr, 0px);
        @include inc.sizing(padding-right, tabl, 140px, vr, 0px);
      }
    }
  }
}

#product .l-wrapper {
  &.lead {
    max-width: 100%;
    width: 100%;
    padding: 0;
    @include inc.mq(tabl) {
      max-width: 998px;
      width:100%;
    }
    .l-wrapper3 {
      padding: 0;
      @include inc.mq(tabl) {
        width:100%;
      }
    }
  }
}

