@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-wrapper
-----------------------------------------------------*/
html {
  @include inc.sizingRem(font-size, wide, 16px, tabl, 14px);
}


.l-wrapper {
  max-width: calc(82rem + 4rem); //1312
  //max-width: calc(98rem + 4rem); //1568
  //width: 90%;
  //max-width: 1568px;
  width: 100%;
  //padding: 0 1rem;
  @include inc.sizing(padding-left, tabl, 65px, sp, 24px);
  @include inc.sizing(padding-right, tabl, 64px, sp, 24px);
  margin: 0 auto;
  &.lead {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
  @include inc.mq(tabl) {
    width:100%;
    //padding: 0 8rem;
    //padding: 0 2rem;
    @include inc.sizing(padding-left, wide, 32px, tabl, 64px);
    @include inc.sizing(padding-right, wide, 32px, tabl, 64px);
  }
}
.l-wrapper2 {
  max-width: calc(70rem + 4rem); //1120
  width: 100%;
  padding: 0;
  margin: 0 auto;
  @include inc.mq(tabl) {
    //width:100%;
    //padding: 0 2rem;
    @include inc.sizing(padding-left, wide, 32px, tabl, 64px);
    @include inc.sizing(padding-right, wide, 32px, tabl, 64px);
  }
}
.l-wrapper3 {
  max-width: calc(62rem + 4rem); //992
  width: 100%;
  //padding: 0 1rem;
  @include inc.sizing(padding-left, tabl, 65px, sp, 24px);
  @include inc.sizing(padding-right, tabl, 64px, sp, 24px);
  margin: 0 auto;
  @include inc.mq(tabl) {
    width:100%;
    //padding: 0 10rem;
    //padding: 0 2rem;
    @include inc.sizing(padding-left, wide, 32px, tabl, 64px);
    @include inc.sizing(padding-right, wide, 32px, tabl, 64px);
  }
}
.l-wrapper4 {
  max-width: calc(58rem + 4rem); //928
  width: 100%;
  //padding: 0 1rem;
  @include inc.sizing(padding-left, tabl, 65px, sp, 24px);
  @include inc.sizing(padding-right, tabl, 64px, sp, 24px);
  margin: 0 auto;
  @include inc.mq(tabl) {
    width:100%;
    //padding: 0 12rem;
    //padding: 0 2rem;
    @include inc.sizing(padding-left, wide, 32px, tabl, 64px);
    @include inc.sizing(padding-right, wide, 32px, tabl, 64px);
  }
}

#news.index.l-wrapper3 {
  max-width: calc(62rem + 4rem); //928
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  @include inc.mq(tabl) {
    width:100%;
    padding: 0 2rem;
  }
}

#about .l-wrapper {
  &.lead {
    max-width: 100%;
    width: 100%;
    padding: 0;
    @include inc.mq(tabl) {
      max-width: calc(82rem + 4rem);
      width:100%;
      padding: 0 2rem;
    }
    .l-wrapper4 {
      max-width: 100%; //928
      width: 100%;
      padding: 0 0rem;
      @include inc.mq(tabl) {
        max-width: calc(58rem + 4rem);
        width:100%;
        padding: 0 2rem;
      }
    }
  }
}

#product .l-wrapper {
  &.lead {
    max-width: 100%;
    width: 100%;
    padding: 0;
    @include inc.mq(tabl) {
      max-width: calc(82rem + 4rem);
      width:100%;
      //padding: 0 2rem;
      @include inc.sizing(padding-left, wide, 32px, tabl, 64px);
      @include inc.sizing(padding-right, wide, 32px, tabl, 64px);
    }
  }
}
#product.category .l-wrapper3 {
  //max-width: 1120px;
  max-width: calc(70rem + 4rem);
  width: 100%;
  padding: 0;
  //padding-right: 4rem;
  margin: 0 auto;
  @include inc.mq(tab) {
    @include inc.sizing(padding-left, wide, 32px, tab, 32px);
    @include inc.sizing(padding-right, wide, 64px, tab, 64px);
  }
}

#product.post .l-wrapper2 {
  //max-width: calc(70rem + 4rem); //1120
  position: relative;
  max-width: 1120px;
  width: 100%;
  //padding: 0;
  @include inc.sizing(padding-left, tabl, 65px, sp, 24px);
  @include inc.sizing(padding-right, tabl, 64px, sp, 24px);
  margin: 0 auto;
  @include inc.mq(tabl) {
    //width:100%;
    //padding: 0 2rem;
    //@include inc.sizing(padding-left, wide, 32px, tabl, 64px);
    @include inc.sizing(padding-right, wide, 64px, tabl, 64px);
  }
}

#contact .l-wrapper4 {
  padding: 0;
  @include inc.mq(tabl) {
    padding: 0 2rem;
  }
}

